# Ignore Composer and NPM dependencies

vendor/
node_modules/

# Ignore environment files

.env

# CRITICAL: Ignore Laravel's storage and cache files

storage/
bootstrap/cache/

# Ignore Git and other development tool files

.git/
.github/
.idea/
.vscode/
